$assets-path: './../demo/client/images';

* {
  margin: 0;
  padding: 0;
}

body {
  background: white url('#{$assets-path}/subtle-wood.gif') top left;
  text-align: center;
}

section.banter {
  margin: 0 auto;
  width: 400px;
  height: 450px;
  margin-top: 50px;

  div.bootstrap {
    color: white;
    text-shadow: 1px 1px 5px black;

    a {
      color: skyblue;
      text-decoration: none;
    }

    h1 {
      font-weight: normal;
      font-family: "Lato", sans-serif;
    }

    h2 {
      font-weight: normal;
      font-size: 15px;
      font-style: italic;
      font-family: "Times New Roman", serif;
    }
  }

  div.window {
    width: 400px;
    height: 450px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .45);
    padding: 16px;

    div.title {
      position: relative;
      padding: 35px 0 0 130px;
      box-sizing: border-box;
      height: 128px;
      background: transparent url('#{$assets-path}/1376790904_teddy_bear_toy_4.png') -15px center no-repeat;

      h1 {
        font-weight: normal;
        font-family: "Lato", sans-serif;
      }

      h2 {
        font-weight: normal;
        font-family: "Times New Roman", serif;
        font-style: italic;
        font-size: 14px;
        padding-top: 2px;
      }
    }

    div.post {
      clear: both;
      margin-top: 16px;
      overflow: hidden;

      textarea {
        width: 270px;
        height: 50px;
        box-sizing: border-box;
        float: left;
        border: 1px solid lightgray;
        padding: 10px;
      }

      button.submit {
        margin-left: 5px;
        width: 100px;
        height: 50px;
        border: 0;
        float: left;
        background-color: lightgray;
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        padding: 6px;
        cursor: pointer;
        pointer-events: none;

        transition: 0.55s all;
        -o-transition: 0.55s all;
        -moz-transition: 0.55s all;
        -webkit-transition: 0.55s all;
      }

      button.submit.connected {
        background-color: lightseagreen;
        pointer-events: all;
      }

      button.submit:hover {
        background-color: black;
      }
    }

    ul.messages {
      list-style-type: none;
      margin-top: 16px;
      overflow-x: scroll;
      height: 240px;
      position: relative;
      box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, .1), inset 0 -10px 10px -5px rgba(0, 0, 0, .1);

      li {
        padding: 12px;
        overflow: hidden;

        img {
          float: left;
          overflow: hidden;
          width: 64px;
          height: 64px;
          border: 1px solid lightgray;
          margin-right: 16px;
        }

        div.message {
          float: left;
          overflow: hidden;

          h2 {
            font-size: 18px;
            font-weight: normal;
            font-family: "Lato", sans-serif;
            color: darkgray;

            span {
              color: black;
            }
          }

          h3 {
            font-family: "Times New Roman", serif;
            font-weight: normal;
            font-size: 12px;
            font-style: italic;
            padding-top: 2px;
          }

          p {
            font-size: 12px;
            font-family: Arial, Tahoma, Helvetica;
            line-height: 18px;
            color: #666;
            width: 294px;
            text-align: justify;
            padding-top: 5px;
          }
        }
      }
    }
  }
}