$assets-path: './../demo/client/images';

* {
  margin: 0;
  padding: 0;
}

body {
  background: white url('#{$assets-path}/subtle-wood.gif') top left;
  text-align: center;
}

section.banter {
  margin: 0 auto;
  width: 400px;
  height: 450px;
  margin-top: 50px;
  position: relative;

  div.bootstrap {
    color: white;
    text-shadow: 1px 1px 5px black;

    a {
      color: skyblue;
      text-decoration: none;
    }

    h1 {
      font-weight: normal;
      font-family: "Lato", sans-serif;
    }

    h2 {
      font-weight: normal;
      font-size: 15px;
      font-style: italic;
      font-family: "Times New Roman", serif;
    }
  }

  div.window {
    width: 400px;
    height: 450px;
    position: relative;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .45);
    padding: 16px;

    div.title {
      position: relative;
      padding: 35px 0 0 130px;
      box-sizing: border-box;
      height: 128px;
      background: transparent url('#{$assets-path}/1376790904_teddy_bear_toy_4.png') -15px center no-repeat;

      h1 {
        font-weight: normal;
        font-family: "Lato", sans-serif;
      }

      h2 {
        font-weight: normal;
        font-family: "Times New Roman", serif;
        font-style: italic;
        font-size: 14px;
        padding-top: 2px;
      }
    }

    div.close {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
      color: darkgray;
      cursor: pointer;

      transition: all .45s;
      -o-transition: all .45s;
      -moz-transition: all .45s;
      -webkit-transition: all .45s;

      &:hover {
        background-color: lightseagreen;
        color: white;
      }
    }

    div.post {
      clear: both;
      margin-top: 16px;
      overflow: hidden;

      textarea {
        width: 270px;
        height: 50px;
        box-sizing: border-box;
        float: left;
        border: 1px solid lightgray;
        padding: 10px;
      }

      button.submit {
        margin-left: 5px;
        width: 100px;
        height: 50px;
        border: 0;
        float: left;
        background-color: lightgray;
        color: white;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        padding: 6px;
        cursor: pointer;
        pointer-events: none;

        transition: 0.55s all;
        -o-transition: 0.55s all;
        -moz-transition: 0.55s all;
        -webkit-transition: 0.55s all;

        &.connected {
          background-color: lightseagreen;
          opacity: .45;

          &.send {
            opacity: 1;
            pointer-events: all;
          }

          &:hover {
            background-color: black;
          }
        }
      }
    }

    ul.messages {
      list-style-type: none;
      margin-top: 16px;
      overflow-x: scroll;
      height: 240px;
      position: relative;
      box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, .1), inset 0 -10px 10px -5px rgba(0, 0, 0, .1);

      li {
        padding: 12px;
        overflow: hidden;

        &.error {
          font-family: "Times New Roman", serif;
          font-style: italic;
          background-color: lightpink;
          color: white;
          margin: 20px 10px 0 10px;

          p {
            float: left;
            height: 40px;
            line-height: 40px;
          }

          button.retry {
            background-color: pink;
            border: 0;
            float: right;
            color: white;
            text-transform: uppercase;
            font-family: "Lato", sans-serif;
            width: 80px;
            height: 40px;
            cursor: pointer;
            line-height: 40px;
          }
        }

        img {
          float: left;
          overflow: hidden;
          width: 64px;
          height: 64px;
          border: 1px solid lightgray;
          margin-right: 16px;
        }

        div.message {
          float: left;
          overflow: hidden;

          h2 {
            font-size: 18px;
            font-weight: normal;
            font-family: "Lato", sans-serif;
            color: darkgray;

            span {
              color: black;
            }
          }

          h3 {
            font-family: "Times New Roman", serif;
            font-weight: normal;
            font-size: 12px;
            font-style: italic;
            padding-top: 2px;
          }

          p {
            font-size: 12px;
            font-family: Arial, Tahoma, Helvetica;
            line-height: 18px;
            color: #666;
            width: 294px;
            text-align: justify;
            padding-top: 5px;
          }
        }
      }
    }
  }

  div.conversation.disabled {
    -webkit-filter: blur(2px);
    pointer-events: none;

    transition: 0.55s all;
    -o-transition: 0.55s all;
    -moz-transition: 0.55s all;
    -webkit-transition: 0.55s all;
  }

  div.register {

    box-shadow: 0 0 25px rgba(0, 0, 0, .45);
    left: 50px;
    top: 50px;
    box-sizing: border-box;
    padding: 30px;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 320px;

    h2 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Lato", sans-serif;
    }

    p.description {
      font-size: 15px;
      font-style: italic;
      font-family: "Times New Roman", serif;
      padding-top: 5px;
      letter-spacing: 0.075em;
      font-size: 12px;
    }

    input {
      width: 150px;
      margin-top: 20px;
      float: left;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      border: 1px solid lightgray;
      padding: 10px;
    }

    button {
      margin-left: 5px;
      width: 100px;
      height: 30px;
      border: 0;
      float: left;
      color: white;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      background-color: pink;
      margin-top: 20px;
      padding: 6px;
      cursor: pointer;
      opacity: .45;
      pointer-events: none;

      transition: 0.55s all;
      -o-transition: 0.55s all;
      -moz-transition: 0.55s all;
      -webkit-transition: 0.55s all;

      &:hover {
        background-color: black;
      }

      &.valid {
        pointer-events: all;
        opacity: 1;
      }
    }

  }

}