<!DOCTYPE html>
<html>
<head>
    <title>Banter.js Demo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="./../../dist/banter-1.0.0.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./js/vendor/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./js/vendor/moment-2.1.0.js"></script>
    <script type="text/javascript" src="./js/vendor/angular-1.0.7.js"></script>
    <script type="text/javascript" src="./../../dist/banter-1.0.0.min.js"></script>
</head>
<body>

    <section data-websocket-server="ws://localhost:8080" class="banter" ng-app="banterApp" ng-controller="ApplicationController">

        <div class="bootstrap" style="display: none;">
            <h1>Need Help? <a class="initialise">Click Here</a>!</h1>
            <h2>Powered by <a href="https://github.com/Wildhoney/Banter.js">Banter.js</a></h2>
        </div>

        <div class="window">

            <div class="title">
                <h1>Casual Support Banter</h1>
                <h2>p.s.: You're using <a href="https://github.com/Wildhoney/Banter.js">Banter.js</a>, sunshine!</h2>
            </div>

            <div class="close" ng-click="disconnect()">&times;</div>

            <div class="post">
                <textarea ng-model="message" placeholder="Здравствуйте Comrade! What's the matter?"></textarea>
                <button class="submit" ng-click="sendMessage(message)" ng-class="{connected: connected, send: message.length}">
                    <span ng-hide="connected">{{status}}</span>
                    <span ng-show="connected">Fly Away&hellip;</span>
                </button>
            </div>

            <ul class="messages">
                <li class="error" ng-hide="connected">
                    <p>Banter.js cannot connect to the server.</p>
                    <button ng-click="connect()" class="retry">Retry</button>
                </li>
                <li ng-repeat="message in messages">
                    <img src="http://2.gravatar.com/avatar/{{gravatar}}" />
                    <div class="message">
                        <h2><span>{{message.name}}</span> says:</h2>
                        <h3>9th of Jan, 01:15:32</h3>
                        <p>{{message.message}}</p>
                    </div>
                </li>
            </ul>

        </div>

    </section>

</body>
</html>