<!DOCTYPE html>
<html>
<head>
    <title>Banter.js Demo</title>
    <link rel="stylesheet" type="text/css" href="./css/default.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./js/vendor/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./js/vendor/angular-1.0.7.js"></script>
    <script type="text/javascript" src="./js/banter.js"></script>
</head>
<body>

    <section data-websocket-server="ws://localhost:8080" class="banter" ng-app="banterApp" ng-controller="ApplicationController">

        <div class="bootstrap" style="display: none;">
            <h1>Need Help? <a class="initialise">Click Here</a>!</h1>
            <h2>Powered by <a href="https://github.com/Wildhoney/Banter.js">Banter.js</a></h2>
        </div>

        <div class="window">

            <div class="title">
                <h1>Casual Support Banter</h1>
                <h2>p.s.: You're using <a href="https://github.com/Wildhoney/Banter.js">Banter.js</a>, sunshine!</h2>
            </div>

            <div class="post">
                <textarea ng-model="message" placeholder="Type your message..."></textarea>
                <button class="submit" ng-click="sendMessage(message)">
                    <span ng-hide="connected">Connecting&hellip;</span>
                    <span ng-show="connected">Fly Away&hellip;</span>
                </button>
            </div>

            <ul class="messages">
                <li ng-repeat="message in messages">
                    <img src="http://2.gravatar.com/avatar/{{hash}}" />
                    <div class="message">
                        <h2><span>Wildhoney</span> muttered:</h2>
                        <h3>9th of Jan, 01:15:32</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum purus sed velit laoreet, et feugiat ligula venenatis. Donec sollicitudin a lorem sed volutpat. Mauris et molestie mi. Etiam lacinia dignissim luctus. Vestibulum sit amet elementum mi. Nulla ante dui, porttitor at elementum et, dignissim eget felis.</p>
                    </div>
                </li>
            </ul>

        </div>

    </section>

</body>
</html>